body {
    background-color: black;

}



/* Home Section styling */

section.Home {
    /* background: linear-gradient( 135deg ,  rgb(0, 0, 255 , 0.1), rgba(255, 59, 163, 0.201)  ); */
    background-image: linear-gradient(135deg , rgba(34, 3, 124, 0.2)    , rgba(3, 255, 242, 0.1) ) ;
    width: 100% ;
    height: 800px;    
}
div.text {
    position: absolute;
    top: 36%;
    right: 9%;
    text-align: center;
}
span#monish {
    font-size: 4.5rem;
}
span#monish1 {
    font-size: 1.5rem;
}
span.work {
    padding: 10px;
    background-color: black;
    border: 5px solid rgb(142, 67, 255);
}
span.work::before {
    content: "";
    position: absolute;
    height: 8%;
    width: 25%;
    padding: 10px ;
    background: linear-gradient(to right , cyan , purple , pink , yellow);
    z-index: -1;
    filter: blur(10px);
}
span.work:hover {
    background-color: rgba(94, 28, 169, 0.45);

}

div.circle-image {
    margin-left: 23%;
    margin-top: 130px;
    width: 500px;
    height: 500px;
    background-image: linear-gradient(rgba(5, 198, 201, 0.8) , rgba(83, 4, 194, 0.8) ),
                url("animated.jpeg");
    /* background */
    /* opacity: 0.8; */
    background-size: cover;
    border-radius: 50%;
    /* box-shadow: 0 0 70px 45px   rgb(91, 32, 158); */
    /* box-shadow: 0 0 70px 45px   rgba(145, 33, 205, 0.656); */
    transition: all 0.9s;
    box-shadow: 5px 5px 50px rgb(0, 0, 0), 0 0 50px 30px rgba(44, 5, 161, 0.3);
}
section.Home:hover div.circle-image {
    margin-top: 128px;
    margin-left: 22.87%;
    width: 515px;
    height: 515px;
    background-image: linear-gradient(rgba(5, 198, 201, 0.2) , rgba(83, 4, 194, 0.2) ),url("animated.jpeg");
    box-shadow: 0 0 70px 65px   rgba(23, 99, 161, 0.843);
}
section.Home div.buttons span {
    margin: 8px;
}
span.free::before {
    content: "";
    position: absolute;
    height: 8%;
    width: 15%;
    padding: 10px ;
    background: linear-gradient(to right , cyan , purple , pink , yellow);
    z-index: -1;
    filter: blur(10px);
}




/* Home section styling over */






/* Navigation styling */

nav span {
    position: absolute;
    margin: 15px 150px;
    font-size: large;
    /* margin: 15px 15 0px; */
}
nav div.list {
    float:right;
}
nav ul {
    list-style-type: none;
    margin-right: 145px;
}
nav ul li {
    margin: 0 40px 0 0px ; 
    padding: 10px;
    float: left;

}
nav ul li a {
    text-decoration: none;
    color:whitesmoke  ;
    font-size:large ;    
}
nav ul li:hover {
    background-color: rgba(0, 255, 255, 0);
    border-bottom: 5px solid rgb(0, 255, 247) ;
    cursor: pointer;
}
nav {
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background: linear-gradient( 135deg , rgba(255,255,255 , 0.3) , rgba(255,255,255,0.1) );
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(37, 37, 37, 0.2);
}

/* Navigation styling over */









/* About Section Styling start */

section.About {
    /* position: absolute; */
    width: 100%;
    height: 1000px;
    background-color: black;
}

section.About div.content span.heading {
    font-size: 4.5em;
    position: relative;
    top: 90px;
    left: 350px ;
    /* margin :90px 0 0 350px ;  */
}

section.About div.myimage {
    float: right;
    position: relative;
    top: 200px;
    right: 8% ;
    width: 450px;
    height: 600px;
    background: url("section.jpg");
    background-size: cover;
    background-position: -230px;
    /* border: 10px solid rgb(255, 255, 255); */
    border-radius: 110px;
    transition: all 0.5s ease-in;
}

section.About div.content div.myimage:hover {
    transform: rotate(5deg);
}


section.About div.content p  {
    background: url(ok-removebg-preview.png);
    background-size: 120%;
    max-width: 800px;
    height: 1000px;
    position: relative ;
    top: 250px;
    left: 6%;
    font-size: 1.45em;
    word-spacing: 5px;
    text-align: justify;
    font-family:sans-serif;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 50% -140px ;
}


/* ABout section styling over */







/* Skills Section styling start */

section.skills {

    width: 100%;
    height: 1000px;
    background-color: rgb(0, 85, 85);

}


/* Skills Section styling over */



/* Contact section styling starts */

section.contact {
    width: 100%;
    height: 1000px;
    background-color: aquamarine;
}


/* Contact section styling over */




/* media queries */

@media all and ( max-width: 1720px) {
    section.Home div.text{
        top: 0px;
        left: 0;
        /* align-items: center; */
        position:static;
        /* margin: 0 auto; */
    }
    section.Home div.circle-image {
        margin: 125px auto ;
    }
    section.Home {
        height: 1050px;
    }
    section.Home span.work::before {
        /* display: none; */
        
        content: "";
        position: absolute;
        height: 2.2%;
        width: 7%;
        padding: 10px ;
        background: linear-gradient(to right , cyan , purple , pink , yellow);
        z-index: -1;
        filter: blur(10px);
        
    }
    section.Home span.free::before {
        /* display: none; */
        
        content: "";
        position: absolute;
        height: 2.2%;
        width: 5%;
        padding: 10px ;
        background: linear-gradient(to right , cyan , purple , pink , yellow);
        z-index: -1;
        filter: blur(10px);
        
    }
    section.About {
        height: 2000px;
    }
    section.About div.content div.heading {
        text-align: center;
    }
   
    section.About div.content span.heading {
        left: 0;
        right: 0;
        font-size: 4em;
    }
    section.About div.myimage{
        right: 0 ;
        left: 0;
        margin: 0px auto;
        float: none ;
    }
    section.About div.content p {
        font-size: 1.2em ;
        border: 6px solid coral;
        padding: 10px;
        max-width: 1720px;
        margin: 0 70px;
        left: 0;
        background-color: rgb(21, 20, 20);
        word-spacing: -1.5px;
    }
    nav div.list {
        float: none;
        margin-top: 15px;
    
    }
    nav div.list ul li {
        display: inline-block;
        float: none;
    }
    nav div.list ul{
        text-align: center;
        margin: 0;
    }   
    



} 






