body {
    background-color: black;
    margin: 0;
    color: white;
}



/* Home Section styling */

section.Home {
    /* background: linear-gradient( 135deg ,  rgb(0, 0, 255 , 0.1), rgba(255, 59, 163, 0.201)  ); */
    background-image: linear-gradient(135deg , rgba(34, 3, 124, 0.2)    , rgba(3, 255, 242, 0.1) ) ;
    width: 100% ;
    height: 1000px; 
}
div.text {
    /* display: none; */
    position: absolute;
    /* top: 36%; */
    top: 43%;
    /* right: 9%; */
    right: 13%;
    text-align: center;
    /* transition: display 0.8s 1s; */
}
span#monish {
    font-size: 3.5rem;
}
span#monish1 {
    font-size: 1.3rem;
}
span.work {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.537);
    border: 5px solid rgb(142, 67, 255);
}
span.work::before {
    content: "";
    position: absolute;
    height: 8%;
    width: 24%;
    padding: 10px ;
    background: linear-gradient(to right , cyan , purple , pink , yellow);
    z-index: -1;
    opacity: 0.8;
    filter: blur(10px);
}
span.work:hover {
    background-color: rgba(94, 28, 169, 0.45);

}

div.circle-image {
    margin-left: 20%;
    /* position: relative; */
    /* margin-left: 37%; */
    /* margin-top: 130px; */
    margin-top: 175px;
    width: 500px;
    height: 500px;
    background-image: linear-gradient(rgba(5, 198, 201, 0.6) , rgba(83, 4, 194, 0.7) ),
                url("animated.jpeg");
    /* background */
    /* opacity: 0.8; */
    background-size: cover;
    border-radius: 50%;
    /* box-shadow: 0 0 70px 45px   rgb(91, 32, 158); */
    /* box-shadow: 0 0 70px 45px   rgba(145, 33, 205, 0.656); */
    transition: all 1s;
    box-shadow: 5px 5px 50px rgb(0, 0, 0), 0 0 50px 30px rgba(44, 5, 161, 0.3);
}
section.Home:hover div.circle-image {
    /* margin-top: 128px; */
    margin-top: 173px;
    margin-left: 19.87%;
    /* margin-left: 20.87%; */
    width: 515px;
    height: 515px;
    background-image: linear-gradient(rgba(5, 198, 201, 0.2) , rgba(83, 4, 194, 0.2) ),url("animated.jpeg");
    /* box-shadow: 0 0 70px 63px   rgba(23, 99, 161, 0.843); */
    box-shadow: 0 0 100px 50px   rgba(23, 99, 161, 0.843);

}

/* section.Home:hover div.text {
    display: block;
} */

section.Home div.buttons span {
    margin: 8px;
}
span.free::before {
    content: "";
    position: absolute;
    height: 8%;
    width: 12%;
    padding: 10px ;
    background: linear-gradient(to right , cyan , purple , pink , yellow);
    z-index: -1;
    filter: blur(10px);
}

/* Home section styling over */






/* Navigation styling */


nav div.list {
    float:right;
    /* z-index: 10; */
}
nav ul {
    list-style-type: none;
    margin-top: 23px;
    margin-right: 255px;
    /* margin-right: 145px; */
}
nav ul li {
    margin: 0 40px 0 0px ; 
    padding: 10px;
    float: left;

}
nav ul li a {
    text-decoration: none;
    color:whitesmoke  ;
    font-size:large ;    
    font-family: sans-serif;
    letter-spacing: 2px;
}
nav ul li:hover {
    background-color: rgba(0, 255, 255, 0);
    border-bottom: 5px solid rgb(0, 255, 247) ;
    cursor: pointer;
}
nav {
    z-index: 1;
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background: linear-gradient( 135deg , rgba(35, 35, 35, 0.01) , rgba(255,255,255,0.01) );
    backdrop-filter: blur(20px);
    border-bottom: 2px solid rgba(37, 37, 37, 0.2);
}

/* Navigation styling over */









/* About Section Styling start */

section.About {
    /* position: absolute; */
    width: 100%;
    height: 1060px;
    /* background-color: black; */
    background: linear-gradient( 163deg , rgba(73, 29, 155, 0.3) , black, black, black ,  rgba(114, 38, 255, 0.372) ) 
                

    /* background: linear-gradient( rgba(3, 255, 242, 0.1) , black ) ; */
}

section.About div.content span.heading {
    font-size: 4.5em;
    position: relative;
    top: 110px;
    left: 450px ;
    /* margin :90px 0 0 350px ;  */
}

section.About div.myimage {
    float: right;
    position: relative;
    top: 150px;
    right: 8% ;
    width: 450px;
    height: 600px;
    background: url("section.jpg");
    background-size: cover;
    background-position: -230px;
    /* border: 10px solid rgb(255, 255, 255); */
    border-radius: 110px;
    transition: all 0.5s ease-in;
}

section.About div.content div.myimage:hover {
    transform: rotate(1deg);
}


section.About div.content p  {
    background: url(ok-removebg-preview.png);
    /* background-size: 0%; */
    max-width: 800px;
    height: 1000px;
    position: relative ;
    top: 180px;
    left: 7%;
    font-size: 1.45em;
    word-spacing: 5px;
    text-align: justify;
    font-family:sans-serif;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 50% -140px ;
    margin-left: 100px;
}



/* ABout section styling over */







/* Skills Section styling start */

section.skills {

    width: 100%;
    height: 1000px;
    /* background: linear-gradient( 155deg , black , black , rgba(1, 174, 128, 0.732)); */
    background: linear-gradient( 145deg , black 45%,  rgba(3, 167, 159, 0.488) ) , 
                linear-gradient( 145deg ,black 80% , rgba(2, 161, 119, 0.467)) ;
                
}

section.skills p.heading {
    position: relative;
    font-size: 6em;
    text-align: center;
    top: 150px;
    /* margin: 0px 300px; */
    font-family: sans-serif  ;
}
section.skills div.names {
    display: flex;
    /* margin: 250px 100px 0 150px; */
    margin: 200px 350px 0 350px;
    justify-content: center;
    flex-wrap: wrap;
}
section.skills div.names div.flip {
    /* padding: 20px; */
    margin: 12px 30px;
    width: 220px;
    height: 250px;
}
section.skills div.names div.flip div.card {
    /* margin: 12px 30px; */
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 1px solid rgb(21, 21, 21);
    box-shadow: 1px 1px 10px  rgba(32, 32, 32, 0.386);
    text-align: center;
    /* font-size: 1.3rem; */
    transform-style: preserve-3d;

    transition: all 0.5s;
}
section.skills div.names div p {
    font-size: 1.3rem;
    font-weight:900;
    color: rgb(194, 193, 193);
}
section.skills div.names div.flip div.card div.back p{
    position: relative;
    top: 70px;
}

section.skills div.names div.flip div.card div.front {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient( 135deg , rgba(107, 107, 107, 0.168) ,  rgba(0, 0, 0, 0.122) , rgba(255, 255, 255, 0.113)) ;
    border-radius: 30px;
    /* background-color: yellow; */
    backface-visibility: hidden;
    /* background: transparent; */
    
}

section.skills div.names div.flip div.card div.back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient( 135deg , rgba(107, 107, 107, 0.168) ,  rgba(0, 0, 0, 0.122) , rgba(255, 255, 255, 0.113)) ;
    border-radius: 30px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    /* background: transparent; */
}
section.skills div.names div.flip:hover div.card {
    transform: rotateY(180deg);
}
section.skills div.names div.flip:hover div.card div.front {
    filter: blur(100px);
}


/* Skills Section styling over */




/* Resume section styling starts */

section.resume {
    width: 100%;
    height: 1100px;
    background: linear-gradient( 163deg , rgba(63, 171, 253, 0.3) , black, black, black ,  rgba(63, 171, 253, 0.372) );
}
section.resume p.heading {
    position: relative;
    font-size: 6em;
    top: 350px;
    margin: 0px 300px;
    font-family: sans-serif  ;
}
section.resume div.iframe {
    position: relative;
    top: -70px;
    left: 42.25%; 
    width: 700px;
    height: 850px;
    
}
section.resume iframe {
    position: relative;
    left: 42.25%; 
    width: 600px;
    height: 750px;
    
}
/* section.resume img {
    position: relative;
    left: 43.5%; 
    width: 550px;
    height: 750px;

} */
section.resume button#download {
    position: relative;
    top: 39.5%;
    left: 21.5%;
    padding: 23px 25px;
    border: 5px solid  rgb(63, 170, 253);
    /* background-color: rgb(122, 198, 8);     */
    background-color: rgb(0, 0, 0);
    transition: all 0.5s;   
}

section.resume button#download a {
    position: relative;
    z-index: 1;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    transition: all 0.5s;
    text-decoration: none;
    color: white;
}
section.resume button#download:hover {
    cursor: pointer;
    left: 20.80%;
    border: solid rgb(0, 141, 248);
    /* background-color: rgb(0, 141, 248); */
    box-shadow: 0 0 30px 5px rgb(1, 116, 204);
}
section.resume button#download:hover a {
    letter-spacing: 0.15em;
    color: rgb(87, 182, 255);
}
section.resume button#download::before {
    content: "";
    position: absolute;
    top: 160%;
    left: -43px;
    width: 130%;
    height: 40%;
    background-color: rgb(0, 141, 248);
    transform: perspective(15em) rotateX(60deg);
    filter: blur(40px);
}
section.resume p.comment {
    position: relative;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 10px;
    bottom: 20px;
}



/* Resume section styling over */




/* Nav vertical Contact styling starts */
nav.content {
    left: 0%;
    backdrop-filter: blur(70px);
    width: 86px;
    height: 100%;
    position: fixed;
    /* border-right: 1px solid rgba(255, 255, 255, 0.085); */
}
nav.content div.content {
    margin-top: 280px;
}
nav.content div.content svg {

    fill: white;
    /* margin: 0%; */
    width: 45px;
    height: 45px;
}
nav.content div.content a {
    position: relative;
    top: 20px;
    margin: 25px 5px 25px 20px ;
    height: 50px;
    /* padding: 50px 0px 0 23px ; */
    width: 100%;
    float: left; 
}
nav.content div.content a svg:hover {
    width: 50.5px;
    height: 50.5px;
    margin:-1px 0px 0px -3px ;
}

/* section.Home:hover ~ nav.content div.content svg {
    box-shadow: 5px 5px 15px cyan;
} */

/* Nav vertical Contact section styling over */




/* media queries */

@media screen and ( max-width: 520px) {

    /* Nav horizontal */
    nav {
        height: 50px;
        /* width: 500px; */
    }
    nav div.list ul  {
        margin: 7px 55px 0 0 ;
    }
    nav div.list ul li {
        margin: 0 8px 0 10px  ;
    }

    nav div.list ul li a {
        font-size: 1rem;
    }
    
    /* Nav Horizontal overs  */



    /* Nav vertical */

    nav.content {
        top: 93.5%;
        /* background-color: aqua; */
        width: 100%;
        height: 56px;
        background: linear-gradient( to right , rgba(69, 69, 69, 0.02) , rgba(0, 0, 0, 0.02) );

    }
    nav.content div.content {
        display: flex;
        margin: 0px 70px 0 125px;
    }
    nav.content div.content a svg {
        width: 35px ;
        height: 35px ;
    }
    nav.content div.content a {
        margin: 0 0 10px 0px ;
    }
    nav.content div.content a svg:hover {
        width: 41px;
        height: 41px;
        margin-top: -2px;
    }
    /* Nav vertical overs */




    /* Home section */
    section.Home {
        height: 900px;
    }
    section.Home div.circle-image {
        width: 300px;
        height: 300px;
        margin: 100px auto;
        
    }
    section.Home:hover div.circle-image {
        width: 315px;
        height: 315px;
        margin: 95px auto;
        box-shadow: 0 0 70px 25px   rgba(23, 99, 161, 0.843);
    }
    section.Home div.text {
        position: relative;
        top: 0%;
        left: 0;
    }
    section.Home div.text span#monish {
        font-size: 2.5rem;
    }
    section.Home div.text span#monish1 {
        font-size: 1.2rem;
    }
    section.Home div.text span.work {
        border: 3px solid rgb(142, 67, 255);
    } 
    section.Home div.text span.work::before{
        width: 23%;
        height: 5%;
    } 
    section.Home div.text span.free::before{
        width: 12%;
    }

    /* Home section overs */




    /* About section */
    section.About {
        height: 1200px;
    }
    section.About div.content span.heading {
        font-size: 3.5rem;
        top: 90px;
        left: 127px;
    }
    section.About div.myimage {
        float: none;
        width: 300px;
        height: 400px;
        /* right: 19%; */
        margin: 0 130px;
        top: 124px;
        background-position: -160px;
    }
    section.About div.aboutpara p {
        background: none;
        font-size: 0.92rem;
        left: 0%;
        margin-right: 60px;
        margin-left: 60px;
        border: 3px solid cyan;
        padding: 5px;
        height: 475px;
        /* max-width: 300px;          */
    }
    /* About section overs */



    /* Skills section */

    section.skills p.heading {
        font-size: 4rem;
        margin: 0 50px;
    }

    /* Skills section overs */

    

    /* Resume Section */
    section.resume {
        height: 940px;
    }
    section.resume iframe {
        display: none;
      
    }
    section.resume p.heading {
        top:350px;
        font-size: 4rem;
        margin: 0 0 0 15% ;
    }
    section.resume button#download {
        top: 41%;
    }

    /* Resume section overs */
    
    

} 






